<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace设置mapper的权限，即为哪个Mapper接口服务的-->
<mapper namespace="com.nowcoder.community.dao.DiscussPostMapper">
    <sql id="selectFields">
        id, user_id,title,content,type,status,create_time,comment_count,score
    </sql>
<!--    resultType声明返回的类型，其中List属于java自带的返回类型，可以检测到，所以只声明自己编写的实体类：DiscussPost-->
<!--    根据type倒叙排序，type相同按create_time倒叙排序-->
<!--    使用limit关键字实现分页-->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status !=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc ,create_time desc
        limit #{offset},#{limit}
    </select>
<!--    返回类型是int，可以不声明-->
    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>

    </select>
</mapper>